# Projeto
COMPOSE_PROJECT_NAME=aws-lakehouse-engineering-lab
ENVIRONMENT=local
AWS_REGION=us-east-1
LOG_LEVEL=INFO

# MinIO / S3 local
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_RAW_BUCKET=raw
MINIO_BRONZE_BUCKET=bronze
MINIO_SILVER_BUCKET=silver
MINIO_GOLD_BUCKET=gold
LAKEHOUSE_BUCKET=lakehouse
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123
S3_ENDPOINT_URL=http://localhost:9000
S3_ENDPOINT_URL_INTERNAL=http://minio:9000

# Airflow
AIRFLOW_UID=1000
AIRFLOW_GID=0
AIRFLOW_API_PORT=8088
AIRFLOW_EXECUTION_API_PORT=8089
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Lakehouse
AIRFLOW_ADMIN_LASTNAME=Engineer
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_FERNET_KEY=96G-pYJRe3xPXCPb2DBMqItDPs_dvU9EqhJ9s3Omuc8=
AIRFLOW_API_JWT_SECRET=change-me-airflow-jwt
AIRFLOW_API_JWT_ISSUER=airflow
AIRFLOW_SPARK_MASTER_URL=spark://spark-master:7077
AIRFLOW_SPARK_REMOTE=

# PostgreSQL do Airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5433

# Spark
SPARK_MASTER_PORT=7077
SPARK_MASTER_UI_PORT=18080
SPARK_WORKER_UI_PORT=18081
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G
SPARK_APP_NAME=aws-lakehouse-engineering-lab
SPARK_MASTER=local[*]
SPARK_SHUFFLE_PARTITIONS=8
SPARK_ADAPTIVE_QUERY_EXECUTION=true
SPARK_TIMEZONE=UTC
SPARK_CONNECT_PORT=15002
SPARK_REMOTE=

# Trino
TRINO_PORT=8085

# AIStor opcional
AISTOR_IMAGE_NAME=quay.io/minio/aistor/minio:latest
AISTOR_MC_IMAGE_NAME=quay.io/minio/aistor/mc:latest
AISTOR_LICENSE_PATH=/absolute/path/to/minio.license
